.heroSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;

  @include for-size(big-desktop) {
    display: block;
  }
}

.hero {
  position: relative;
  justify-self: center !important;
  align-self: center !important;
  @include for-size(big-desktop) {
    width: 100%;
    margin-top: 6rem;
  }
  .hero__line {
    position: absolute;
    top: 540px;
    left: -160px;
    object-fit: cover;
    background-size: cover;
    display: none;
  }

  .hero-nickName {
    position: absolute;
    color: white;
    font-size: 6.5rem;
    font-weight: bolder;
    top: -25px;
    left: 10%;
    opacity: 0.1 !important;

    p {
      padding: 0;
      margin: 0;
    }

    @include for-size(big-desktop) {
      font-size: 14rem;
      left: 12%;
    }

    // For Iphone SE
    @media screen and (max-height: 668px) {
      top: -20px;
      font-size: 6rem;
    }
  }

  .hero-photo {
    display: flex;
    padding-top: 6.6rem;
    width: 100%;
    justify-content: center;

    img {
      width: 260px;
      height: 260px;
    }

    @include for-size(big-desktop) {
      justify-content: flex-start;
      width: 50%;
      margin-right: 2rem;

      img {
        width: 500px;
        height: 500px;
      }
    }

    @media screen and (max-height: 668px) {
      padding-top: 6rem;

      img {
        width: 240px;
        height: 240px;
      }
    }
  }

  .hero-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      h1 {
        div {
          display: inline;
          color: $primaryColor;
        }
      }

      .divider {
        background-color: $primaryColor;
        height: 6px;
        width: 60%;
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 1rem 0;
      }
    }

    @include for-size(big-desktop) {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 10% 0 15%;

      .hero-info__text {
        padding-top: 10rem;

        h1 {
          font-size: 3.3rem;
          font-weight: bold;
          margin-bottom: 1rem;
          margin-top: 0.5rem;

          div {
            display: inline;
            color: $primaryColor;
          }
        }

        p {
          font-size: 1.5rem;
          font-weight: 300;
          margin-top: 0.5rem;
          margin-bottom: 0rem;
        }
      }
    }

    @media screen and (max-height: 668px) {
      div {
        h1 {
          margin-top: 0;
        }
      }
    }
  }

  .hero-links {
    display: flex;
    justify-content: center;

    .hero-links__decoration {
      display: none;
    }

    @include for-size(big-desktop) {
      position: absolute;
      top: 6rem;
      right: 8rem;
      flex-direction: column;

      ul {
        flex-direction: column;
        gap: 1rem
      }

      .hero-links__decoration {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
          transform: rotate(90deg);
          font-size: 1.2rem;
          margin-bottom: 3rem;
          font-weight: 400;
        }

        div {
          align-self: center;
          background-color: $primaryColor;
          width: 6px;
          height: 100px;
          border-radius: 20px;
        }
      }
    }

    ul {
      padding: 0 5rem;
      display: flex;
      width: 100%;
      justify-content: space-between;

      li {
        list-style: none;
        background-color: $tertiaryColor;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .links-icon {
          font-size: 1.5rem;
        }
      }

    }

  }


}