.recentWork {
  // scroll-snap-align: none;
  .project {
    // scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap: 0.8rem;

    scroll-snap-align: none;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0.8rem;

      h2 {
        font-weight: 700;
        color: $secondaryColor;
        font-size: 2.4rem;
        margin: 0 0 1rem 0;
      }

      .project__goal {
        font-size: 1.5rem;
        font-weight: 700;
        color: $quinaryColor;
        margin: 0;
        margin-bottom: 1rem;
      }

      .project__description {
        font-size: 1.2rem;
        font-weight: 500;
        color: $secondaryColor;
        margin: 0;
        margin-bottom: 1rem;
      }

      .project__link_responsive {
        display: none;
      }

      .project__logo {
        width: 150px;
        height: 150px;
      }

      .project__mockUp_image {
        width: 280px;
        height: 280px;
      }
    }

    margin-top:6rem;
    margin-bottom: 4rem;

    @include for-size(desktop) {

      display: flex;
      flex-direction: row-reverse;
      padding: 0 12rem;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .project__link_responsive {
          display: block;
        }

        div {
          flex-direction: row-reverse;

          div {
            margin-left: 2rem;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }
        }
      }

      .project__mockUp {
        display: flex;
        // width:600px !important;
        justify-content: center;
        align-items: center;
        // width: 40vw;
      }

      .project__mockUp_image {
        width: 350px !important;
        height: 350px !important;
      }

      .project__link {
        display: none;
      }

      padding-top: 2rem !important;
    }

  }

  @include for-size(desktop) {
    .subtitle {
      p {
        top: -105px;
      }

      h2 {
        top: -30px;
      }
    }
    .project__info{
      max-width: 700px;
    }
    .recentWork__space {
      width: 0.1rem;
      height: 0.1rem;
      // background-color: red;
    }

    .recentWork__space2 {
      width: 7rem;
      height: 7rem;

    }

  }
}